.wd-course-navigation {
    background-color: white;
    list-style: none;
    /* padding-right: 10px; */
    width: 180px;
    margin: 0px;
    /* margin-left: 20px; */
}

.wd-course-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}

.wd-course-navigation a {
    color: #b52828;
    text-decoration: none;
}

.wd-course-navigation i.red {
    color: #b52828;
}

.wd-course-navigation i.white {
    color: white;
}

.wd-course-navigation a i {
    padding-right: 5px;
}

.wd-course-navigation li.wd-active {
    border-left: 2px solid black;
}

.wd-course-navigation li.wd-active a {
    color: black;
    font-weight: bold;
}