.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;
    width: 85px;
    margin: 0px;
}

.wd-kanbas-navigation .list-group {
    border-radius: 0;
}

.wd-kanbas-navigation .list-group-item {
    background-color: black;
    border-color: black;
}

.wd-kanbas-navigation li a.red {
    color: #b52828;
}

.wd-kanbas-navigation li {
    font-size: 0.8em;
    text-align: center;
}

.wd-kanbas-navigation li p {
    margin: 0px;
}

.wd-kanbas-navigation li a {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 5px;
}

.wd-kanbas-navigation a i {
    color: #b52828;
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wd-kanbas-navigation li.highlighted a {
    color: #b52828;
    background-color: white;
}

.wd-kanbas-navigation li.highlighted a i {
    color: #b52828;
}

.wd-kanbas-navigation a i.white {
    color: white;
}

.wd-kanbas-navigation a i.black {
    color: black;
}